# Python
__pycache__
*.pyc
*.egg-info

# Data
_data/
data/

# Output
_results

# Secret Environment Variables
.env*

# Amulet User Config
.amltconfig

# Blob Fuse
.blobfuse/*.yaml
!.blobfuse/*.example.yaml

# Pretrained Models
models

